EXPO_PUBLIC_SUPABASE_URL=https://rcetbtewgkcnsarwksdx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjZXRidGV3Z2tjbnNhcndrc2R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNTQ0NDQsImV4cCI6MjA5NDgzMDQ0NH0.d-7gUfMEw3x6-UscsRS8yWKmSyRRrWJ5q8O8sRjoZbE
NEXT_PUBLIC_SUPABASE_URL=https://rcetbtewgkcnsarwksdx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJjZXRidGV3Z2tjbnNhcndrc2R4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyNTQ0NDQsImV4cCI6MjA5NDgzMDQ0NH0.d-7gUfMEw3x6-UscsRS8yWKmSyRRrWJ5q8O8sRjoZbE